* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.sidebar {
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.logo {
    text-align: center;
}

.logo img {
    width: 100px;
}

.logo h1 {
    margin-top: 10px;
    font-size: 1.5em;
}

.menu {
    list-style: none;
    margin-top: 50px;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    background-color: #555;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

.content .tabcontent {
    display: none;
}

.content .tabcontent.active {
    display: block;
}

.content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0;
    }

    .menu li {
        margin-bottom: 0;
    }

    .content {
        margin-left: 0;
    }
}

/* Стили для элементов li и span */
li {
    display: block;
    margin-bottom: 10px;
}

span {
    display: block;
    cursor: pointer;
    font-weight: bold;
}

/* Стили для вложенных списков */
.nested {
    display: none;
    list-style-type: none;
    margin-left: 1em;
}

.nested li {
    display: block;
    margin-bottom: 10px;
}

.nested span {
    display: block;
    cursor: pointer;
    font-weight: normal;
}

/* Добавляем стиль для активного элемента */
.active {
    display: block;
}