* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.sidebar {
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.logo {
    text-align: center;
}

.logo img {
    width: 100px;
}

.logo h1 {
    margin-top: 10px;
    font-size: 1.5em;
}

.menu {
    list-style: none;
    margin-top: 50px;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    /* Добавлено для центрирования текста */
}

.menu a:hover {
    background-color: #555;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

.content .tabcontent {
    display: none;
}

.content .tabcontent.active {
    display: block;
}

.content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0;
    }

    .menu li {
        margin-bottom: 0;
    }

    .content {
        margin-left: 0;
    }
}

.faq_table {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#faq_sum {
    font-size: 20px;
}

#users_sum {
    font-size: 20px;
}

.faq_title,
.faq_content,
.users_name,
.users_admin,
.users_telegram_id,
.users_blocked {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    /* Скрыть все содержимое, выходящее за пределы элемента */
    text-overflow: ellipsis;
    /* Обрезать текст и отобразить многоточие в конце, если текст не помещается */
    white-space: nowrap;
    /* Запретить перенос текста на новую строку */
    max-width: 200px;
    /* Задать максимальную ширину элемента */
}

.faq_edit_btn {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    user-select: none;
}

.faq_edit_btn:hover {
    color: blue;
    cursor: default;
}

.faq_remove_btn {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    user-select: none;
}

.faq_remove_btn:hover {
    color: blue;
    cursor: default;
}

th {
    background-color: #f2f2f2;
}

/* Стили для элементов li и span */
li {
    display: block;
    margin-bottom: 10px;
}

.add-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

span {
    display: block;
    cursor: pointer;
    font-weight: bold;
}

/* Стили для вложенных списков */
.nested {
    display: none;
    list-style-type: none;
    margin-left: 1em;
}

.nested li {
    display: block;
    margin-bottom: 10px;
}

.nested span {
    display: block;
    cursor: pointer;
    font-weight: normal;
}

/* Добавляем стиль для активного элемента */
.active {
    display: block;
}

/* CSS стили для диалогового окна */
.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.dialog-box {
    background-color: #fff;
    width: 700px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.dialog-content {
    margin-bottom: 10px;
}

.dialog-input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.dialog-textarea {
    display: block;
    width: 100%;
    height: 400px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    overflow-y: auto;
}

.dialog-close {
    cursor: pointer;
    color: #999;
    float: right;
}

.dialog-save {
    margin-right: 10px;
    cursor: pointer;
    color: #999;
    float: right;
}

.dialog-close:hover {
    color: #666;
}

.dialog-save:hover {
    color: #666;
}

.input-field,
.input-field-users {
    width: 20%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-field::placeholder {
    color: #999;
}

.input-field:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 8px #66afe9;
}

.popup-container {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 80%;
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.popup-container.popup-fade-out {
    opacity: 0;
    transform: translateX(-50%) translateY(120px);
}

.popup-text {
    margin-bottom: 10px;
}